@media print
{
    body {
        margin: 0;
        padding: 1rem;
        font-size: 10pt;
    }

    table {
        border-collapse: collapse;
    }

}

@media screen and (max-width: 1100px) {

    body  {
        padding: 0.5rem;
    }

}

@media screen and (min-width: 1100px) {

    body {
        padding: 2rem;
    }

}


body {
    font-family: sans-serif;
}

.form-row {
    display: flex;
    justify-content: space-between;
    align-items: start;
    background: #e5e5e5;
    padding: 0.5rem;
}

.form-row:hover {
    background: #ffe17e;
}

.form-row + .form-row {
    margin-top: 0.5rem;
}

.form-row > :last-child {
    margin-right: 0.5rem;
}

.form-row label {
    flex-grow: 1;
    margin-right: 1rem;
}

input, select {
    font-family: inherit;
    font-size: inherit;
    background: #fff;
    border: solid 1px #000;
    border-radius: 0.25rem;
    padding: 0.25rem 0.5rem;
}

table.data-table {
    border-collapse: collapse;
    border: solid 1px #444;
}

table.data-table tbody tr:nth-child(odd) {
    background: #ccc;
}

table.data-table th, table.data-table td {
    padding: 0.5rem 1rem;
    text-align: left;
}

table.data-table thead {

    background: #444;
    color: #fff;

}

.center-text {
    text-align: center;
}

.button {
    display: inline-block;
    background: #292b64;
    color: #fff;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: 3rem;
    text-decoration: none;

}