@media print
{

    body .cabinet-generator--preview--controls {
        display: none;
    }

}

@media screen and (max-width: 1100px) {

    body .cabinet-generator--preview {
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    body .cabinet-generator--preview--render canvas{
        display: block;
        width: 100%;
    }

}

@media screen and (min-width: 1100px) {

    body .cabinet-generator--preview {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }

    body .cabinet-generator--preview--render canvas{
        display: block;
        width: 50vw;
    }

}

.cabinet-generator {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.cabinet-generator--preview--render {
    position: relative;
}

.cabinet-generator--preview--render canvas{
    aspect-ratio: 4 / 3;
}

.cabinet-generator--preview--controls {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.cabinet-generator--view-controls {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.cabinet-generator--parameters {
}

.cabinet-generator--panel-list {
    display: flex;
    justify-content: center;
}

.cabinet-generator--export {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cabinet-generator--preview--component-label {
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    padding: 0.5rem;
    background: rgba(255, 255, 255, 0.5);
    flex-direction: column;
    gap: 0.25rem;
}

.cabinet-generator--preview--component-label-visible {
    display: flex;
}

.cabinet-generator---view-controls {
    display: flex;
    flex-wrap: wrap;
}